In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
diversity_csv = "Resources/diversityindex.csv"
diversity_df = pd.read_csv(diversity_csv)
diversity_df

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013"
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9
...,...,...,...,...,...,...,...,...,...
3190,"Osage County, MO",0.037540,0.3,0.2,0.1,0.0,0.7,0.6,98.1
3191,"Lincoln County, WV",0.035585,0.2,0.1,0.1,0.0,0.7,0.6,98.2
3192,"Leslie County, KY",0.035581,0.4,0.1,0.2,0.0,0.7,0.5,98.2
3193,"Blaine County, NE",0.023784,0.2,0.0,0.0,0.0,0.8,0.2,98.8
3194,"Keya Paha County, NE",0.021816,0.0,0.1,0.1,0.0,0.6,0.5,98.9

In [30]:
# Create a a new df with info we need 

# Split the County coloum into State and County
new_df = diversity_df
new_df['County'], new_df['State'] = diversity_df['Location'].str.split(',').str
new_df.tail()

# Drops all rows that have NaN as County as States got split into County above. 
df = new_df.dropna()

#checking if this worked and drop was sucessful in removing STATe names from county coloum 

dsd = df[df['County'] == 'TEXAS']
dsd.tail()

df.head()

C:\Users\jagno\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  """

,Location,Diversity-Index,"Black or African American alone, percent, 2013","American Indian and Alaska Native alone, percent, 2013","Asian alone, percent, 2013","Native Hawaiian and Other Pacific Islander alone, percent,","Two or More Races, percent, 2013","Hispanic or Latino, percent, 2013","White alone, not Hispanic or Latino, percent, 2013",County,State
0,"Aleutians West Census Area, AK",0.769346,7.4,13.8,31.1,2.3,4.8,14.6,29.2,Aleutians West Census Area,AK
1,"Queens County, NY",0.742224,20.9,1.3,25.2,0.2,2.7,28.0,26.7,Queens County,NY
2,"Maui County, HI",0.740757,0.8,0.6,28.8,10.6,23.3,10.7,31.5,Maui County,HI
3,"Alameda County, CA",0.740399,12.4,1.2,28.2,1.0,5.2,22.7,33.2,Alameda County,CA
4,"Aleutians East Borough, AK",0.738867,7.7,21.8,41.4,0.7,3.7,13.5,12.9,Aleutians East Borough,AK

In [15]:
unemp_csv = "Resources/unemployment.csv"
unemp_df = pd.read_csv(unemp_csv)

unemp_df.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [38]:
unemp_df = unemp_df[['County', 'State', 'Rate']]
unemp_df.head(10)

             County State  Rate
0     Newton County    MS   6.1
1     Panola County    MS   9.4
2     Monroe County    MS   7.9
3      Hinds County    MS   6.1
4     Kemper County    MS  10.6
5    Calhoun County    MS   6.9
6     Clarke County    MS   7.9
7  Jefferson County    MS  14.3
8    Madison County    MS   4.5
9    Sharkey County    MS  11.1

In [39]:
us_state_abbrev = {
    
'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA', 'Colorado': 'CO',
'Connecticut': 'CT', 'Delaware': 'DE', 'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA',
'Maine': 'ME', 'Maryland': 'MD', 'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH', 'New Jersey': 'NJ',
'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD',
'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA',
'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'}

In [40]:
unemp_df['State'] = unemp_df['State'].map(us_state_abbrev).fillna(unemp_df['State'])
unemp_df.head(10)

             County State  Rate
0     Newton County    MS   6.1
1     Panola County    MS   9.4
2     Monroe County    MS   7.9
3      Hinds County    MS   6.1
4     Kemper County    MS  10.6
5    Calhoun County    MS   6.9
6     Clarke County    MS   7.9
7  Jefferson County    MS  14.3
8    Madison County    MS   4.5
9    Sharkey County    MS  11.1

In [42]:
grouped_unemp_df = unemp_df.groupby(['County', 'State'])['Rate'].mean()
grouped_unemp_df

County            State
Abbeville County  SC        8.087654
Acadia Parish     LA        6.437624
Accomack County   VA        6.404000
Ada County        ID        4.336728
Adair County      IA        3.589198
                             ...
Yuma County       AZ       22.245370
                  CO        3.034259
Zapata County     TX        9.695595
Zavala County     TX       16.937004
Ziebach County    SD        7.123457
Name: Rate, Length: 2885, dtype: float64

In [6]:
median_csv = "Resources/medianincome.csv"
median_df = pd.read_csv(median_csv)
median_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   County-State             3220 non-null   object
 1   County                   3220 non-null   object
 2   Population               3220 non-null   int64
 3   Median household income  3219 non-null   float64
 4   State Code               3220 non-null   object
 5   State                    3220 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 151.1+ KB

In [5]:
# 
diversity_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3195 entries, 0 to 3194
Data columns (total 9 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Location                                                    3195 non-null   object
 1   Diversity-Index                                             3195 non-null   float64
 2   Black or African American alone, percent, 2013              3195 non-null   float64
 3   American Indian and Alaska Native alone, percent, 2013      3195 non-null   float64
 4   Asian alone, percent, 2013                                  3195 non-null   float64
 5   Native Hawaiian and Other Pacific Islander alone, percent,  3195 non-null   float64
 6   Two or More Races, percent, 2013                            3195 non-null   float64
 7   Hispanic or Latino, percent, 2013                           3195 non-null   float64
 8   White alone, not Hispanic or Latino, percent, 2013          3195 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.8+ KB